<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Encode Weekend 4</h1>
  <div class="col-lg-6 mx-auto mt-5">
    <button
      type="button"
      class="btn btn-primary btn-lg mx-2 gap-3"
      routerLink="marketplace"
    >
      Marketplace
    </button>
    <button
      type="button"
      class="btn btn-primary btn-lg mx-2"
      routerLink="gallery"
    >
      Gallery
    </button>
  </div>
  <div class="col-lg-6 mx-auto mt-4">
    <button
      type="button"
      class="btn btn-outline-secondary btn-lg mx-2 gap-3"
      routerLink="dashboard"
    >
      Create wallet
    </button>
  </div>
</div>
